.feedback h3{
position: relative;
}

.feedback h3::after{
    position: absolute;
    content: '';
    bottom:0;
    left:50%;
    width: 15%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.carousel-item img{
    width: 100px;
    height: 100px;
    transform: translateY(50%);
}


.carousel-indicators [data-bs-target] , .carousel-indicators img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: 0;
}


.container-fluid img{
    width: 150px;
}
